{% extends 'base.html.twig' %}

{% block body %}
<h1>F.A.Q</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit ligula, maximus ut porta ac, eleifend vel enim. Etiam lacinia purus magna, ut gravida nibh tempus et. Vivamus in elit non sapien maximus elementum. Ut ut augue consectetur, maximus turpis eget, sagittis lectus. Suspendisse sodales lectus id lacus semper, et porta orci commodo. Duis aliquet at felis ut aliquam. Maecenas euismod faucibus tortor vel gravida. Nullam luctus ipsum non ligula venenatis, tristique tristique nibh convallis.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit ligula, maximus ut porta ac, eleifend vel enim. Etiam lacinia purus magna, ut gravida nibh tempus et. Vivamus in elit non sapien maximus elementum. Ut ut augue consectetur, maximus turpis eget, sagittis lectus. Suspendisse sodales lectus id lacus semper, et porta orci commodo. Duis aliquet at felis ut aliquam. Maecenas euismod faucibus tortor vel gravida. Nullam luctus ipsum non ligula venenatis, tristique tristique nibh convallis.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit ligula, maximus ut porta ac, eleifend vel enim. Etiam lacinia purus magna, ut gravida nibh tempus et. Vivamus in elit non sapien maximus elementum. Ut ut augue consectetur, maximus turpis eget, sagittis lectus. Suspendisse sodales lectus id lacus semper, et porta orci commodo. Duis aliquet at felis ut aliquam. Maecenas euismod faucibus tortor vel gravida. Nullam luctus ipsum non ligula venenatis, tristique tristique nibh convallis.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit ligula, maximus ut porta ac, eleifend vel enim. Etiam lacinia purus magna, ut gravida nibh tempus et. Vivamus in elit non sapien maximus elementum. Ut ut augue consectetur, maximus turpis eget, sagittis lectus. Suspendisse sodales lectus id lacus semper, et porta orci commodo. Duis aliquet at felis ut aliquam. Maecenas euismod faucibus tortor vel gravida. Nullam luctus ipsum non ligula venenatis, tristique tristique nibh convallis.
</p>
{% endblock %}
